<a href="https://colab.research.google.com/github/Kirandeepgkaur/student_results_lr/blob/main/ml_student_results_lr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Linear Regression Model analysing the results of ~600 students

In [90]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

In [91]:
data=pd.read_csv('student-mat.csv', sep=';')

In [92]:
print(data.columns)
data.head()

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [93]:
data = data[['G1', 'G2', 'G3', 'studytime', 'failures', 'absences']]

In [94]:
predict = 'G3'

In [95]:
X= data.drop(columns=[predict])
y=data[predict]

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size =0.2)

In [97]:
linear= linear_model.LinearRegression()

In [98]:
linear.fit(X_train, y_train)

LinearRegression()

In [99]:
acc=linear.score(X_test, y_test)
print(acc)

print('Coefficient:/n', linear.coef_)
print('Intercept: /n', linear.intercept_ )

0.8089730081374903
Coefficient:/n [ 0.14133938  0.98390436 -0.18786009 -0.2231946   0.04565106]
Intercept: /n -1.4276186754715727

In [115]:
predictions = linear.predict(X_test)

In [141]:
print(predictions, y_test)

[10.66564438  5.88025136 18.16836968  9.18005768 12.45152335  4.47163669
 12.68349037  6.2763904  14.78912192 10.98607143 10.29166351  4.37069251
 19.26838123  6.39359917 14.02340365 10.88031392 12.63696965  7.4812898
 16.19091888  9.33236904  7.05553236 15.67316716 12.07005032 16.95008452
 -1.5783657   5.54512287  9.22590392  7.05727168 14.27401708  7.5638195
 16.99660523 14.41691829 14.22923568  9.29898674  7.13213304  6.49892957
 12.86257804  4.23812555  8.92170472 15.43965601  5.94147482  9.349024
 12.77479248  7.11675582  7.60508435 10.76220236 10.19862209 16.38842105
 15.30795871 11.60302803  8.27381753 14.93397784 15.2166566  11.69958601
  9.81956284  8.04117604  9.58518204 14.92872198 10.66564438  9.44032611
 -0.48476376  5.50605759 12.59044894 14.93397784  8.64779839  6.09904205
 10.524305   10.61560711  7.17776507  9.349024   13.8982969   5.03942569
 12.81801205  9.86501871  8.36863619  3.9288847  10.71568164  7.86869316
 11.03962524] 382    10
67      6
8      19
152    10
112    13
       ..
24      8
383     0
364    12
85      8
354    11
Name: G3, Length: 79, dtype: int64